@import "compass/css3"

*
	box-sizing: border-box

body, html
	padding: 0
	margin: 0
	width: 100%
	font-family: 'Abel', sans-serif !important
	height: 100%

.pure-g [class*="pure-u"]
	font-family: 'Abel', sans-serif !important
	padding: 20px

.imagethumb
	height: 150px
	width: 100%
	border-radius: 3px
	box-shadow: inset 0 3px 5px #000
	display: block
	@include background-size(cover)
	border-bottom: 1px solid #333
	transition: all 0.2s ease-in
	// background-blend-mode: multiply
	&:hover
		background-color: #FFF !important
		box-shadow: inset 0 1px 2px #000

#photos
	padding: 5px
	.pure-u-1-5
		padding: 5px

section
	// position: fixed
	top: 0
	left: 0
	padding-top: 100px
	z-index: -1
	margin: 0 auto
.content-section
	max-width: 1000px
.centertext
	text-align: center
nav
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100px
	background: rgba(#FFF, 0.9)
	padding: 10px
	z-index: 100
	+box-shadow(0 0 20px rgba(#000, 0.6))
	.logo
		position: absolute
		left: 0
		top: 0
	a 
		text-decoration: none
		color: #333
		display: block
		padding: 5px 10px
		&:hover
			background: #FFF
			color: #333
	ul
		float: right
		li
			float: left
			display: block
			height: 100%
.container
	width: 900px 
	margin: 0 auto
	position: relative

#beachbot-section
	z-index: 10
	background: #F40
	+box-shadow(0 0 100px #333)
	@include background-size(cover)
	background-position: left top
	&:after
		content: ""
		display: table
		clear: both
	img
		display: block
		margin: 0px auto

	h1
		margin-top: 100px
		font-size: 30px
		font-weight: bold
		text-align: center
		display: none

#bot-section
	background: #787878
	img
		width: 100%
		
#team-section
	// background: #8F0
	z-index: 1
	.small-head
		margin-bottom: 0
		padding-bottom: 0
		padding-top: 0
		h2
			margin-bottom: 0
			margin-top: 0
	h3
		margin-top: 0
		margin-bottom: 0
	h1
		margin-top: 100px
		font-size: 30px
		font-weight: bold
		text-align: center
	img
		width: 90%
		margin: 0 auto

		// rgb(250, 180, 130)
.gimage
	@include background-size(cover)
	@include border-radius(3px)
	height: 400px	
	box-shadow: 0 0 15px rgba(#333, 0.2)
	margin-bottom: 20px
	border: 1px solid #333